.auth-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
}

.auth-form {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 12px;
}

.header-button {
    color: rgb(181, 157, 139);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.header-button-top {
    color: rgb(181, 157, 139);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.fourbHeaderContainer {
    display: flex;
    flex-direction: column;
}

.fourb-header-mobile {
    display: none;
}

.fourb-header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.fourb-logo {
    height: 36px;
    margin-left: 30px;
}

.title {
    text-align: center;
}

.fourb-button {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    background: black;
    color: white;
    font-size: 16px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.loading {
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: black;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    font-size: 20px;
    padding-bottom: 20px;
}

.input-container label {
    margin-bottom: 6px;
}

.input-container input {
    font-size: 20px;
}

.product-card {
    border-radius: 6px;
    margin: 10px 20px;
    padding: 10px 20px;
}

.link,
.link:hover,
.link:focus,
.link:active {
    text-decoration: none;
    color: inherit;
}

.name {
    font-size: 16px;
    margin-bottom: 12px;
    padding-left: 10px;
}

.price {
    font-size: 18px;
    margin-bottom: 12px;
    padding-left: 10px;
}

.input-container-modal {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    font-size: 14px;
    padding-bottom: 10px;
}

.input-container-modal label {
    margin-bottom: 6px;
}

.input-container-modal input {
    font-size: 14px;
}

.img-product {
    margin-bottom: 10px;
    display: block;
    margin: auto;
    width: 320px;
    height: 320px;
    margin-bottom: 16px;
    object-fit: contain;
}

.price-discounted {
    text-decoration-line: line-through;
}

.img-uploaded {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.menu {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cart {
    display: none;
}

.formSearchMobile {
    margin: 0px;
    border-radius: 4px;
    display: flex;
    position: relative;
    display: flex;
    flex: 1;
}

.searchProductMobile {
    padding: 6px;
    padding-left: 20px;
    min-width: unset;
    display: flex;
    flex: 1;
}

.searchIconMobile {
   position: absolute;
   top: 8px;
   left: 4px;
   width: 16px;
   size: 1;
}

.cartMobile {
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
}

.linkMobile {
    display: flex;
}

.fourbLogoMobile {
    width: 60px;
    object-fit: contain;
    margin-right: 10px;
}

@media only screen and (max-width: 700px) {
    .header-button {
        display: none;
    }
    .fourb-logo {
        margin: 0px;
        max-width: unset;
    }
    .fourbHeaderContainer {
        flex-direction: row;
    }
    .fourb-header {
        padding: 0px;
        gap: 10px;
    }
    .menu {
        display: flex;
        width: 52px;
    }
    .cart {
        display: flex;
        margin-right: 16px;
    }
    .formSearch {
        display: flex;
        flex: 1;
    }
    .fourb-header {
        display: none;
    }
    .fourb-header-mobile {
        display: none;
        background: white;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
        padding: 0px 0px;
    }
}