.fourbButton {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  background: black;
  color: white;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}

.name {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}

.code {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 15px;
}

.price {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.4px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.originalPrice {
    font-size: 18px;
    font-weight: 400;
    text-decoration-line: line-through;
    color: rgba(18, 18, 18, 0.75);
}

.discount {
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
}

.mainImage {
    max-width: 100%;
}

.selected {
    border: 2px solid black;
    background-color: black;
    text-align: center;
    color: white;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 100px;
}

.unselected {
    border: 2px solid black;
    background-color: white;
    text-align: center;
    color: black;
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 100px;
}

.qtyWarning {
    color: rgba(18, 18, 18, 0.75);
    letter-spacing: 1.3px;
    font-size: 12px;
    margin-bottom: 15px;
}

.oferta {
    background-color: rgb(197, 166, 226);
    border-radius: 100px;
    padding: 6px 12px;
    font-size: 12px;
    margin-left: 10px;
    letter-spacing: unset;
}

.paymentInfo {
    font-size: 12px;
    color: rgba(18, 18, 18, 0.75);
    font-weight: 700;
    margin-bottom: 15px;
}

.productContainer {
    display: flex;
    margin: 10px 80px 80px 80px;
}

@media only screen and (max-width: 700px) {
    .productContainer {
        flex-direction: column;
        background-color: red;
    }
}