html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.auth-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
}

.auth-form {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 12px;
}

.header-button {
  color: rgb(181, 157, 139);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.fourbHeaderContainer {
  display: flex;
  flex-direction: column;
}

.fourb-header {
  background: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0px 20px;
}

.fourb-logo {
  height: 46px;
  margin-left: 30px;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}

.fourb-button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  background: black;
  color: white;
  font-size: 16px;
  margin: auto;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.loading {
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: black;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  font-size: 20px;
  padding-bottom: 20px;
}

.input-container label {
  margin-bottom: 6px;
}

.input-container input {
  font-size: 20px;
}

.product-card {
  border-radius: 6px;
  margin: 10px 20px;
  padding: 10px 20px;
}

.input-container-checkout {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: 40px;
  font-size: 20px;
  padding-bottom: 20px;
}

.input-container-checkout label {
  margin-bottom: 6px;
}

.input-container-checkout input {
  font-size: 20px;
}

.link,
.link:hover,
.link:focus,
.link:active {
  text-decoration: none;
  color: inherit;
}

.name {
  font-size: 16px;
  margin-bottom: 12px;
  padding-left: 10px;
}

.price {
  font-size: 18px;
  margin-bottom: 12px;
  padding-left: 10px;
}

.input-container-modal {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  font-size: 14px;
  padding-bottom: 10px;
}

.input-container-modal label {
  margin-bottom: 6px;
}

.input-container-modal input {
  font-size: 14px;
}

.img-product {
  margin-bottom: 10px;
  display: block;
  margin: auto;
  width: 240px;
  height: 240px;
  margin-bottom: 16px;
  object-fit: cover;
}

.price-discounted {
  text-decoration-line: line-through;
  font-size: 16px;
  color: dimgray;
}

.img-uploaded {
  width: 100px;
  height: 100px;
  object-fit: cover;
  min-width: 100px;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.img-table {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.img-title {
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.closeImgButton {
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  padding: 6px 10px;
  background: white;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 30px;
  min-width: 30px;
}

.payBox {
  width: 400px;
}

.searchProduct {
  padding: 4px 8px;
}

.table {
  margin: 0px 30px;
}

.checkoutList {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 700px) {
  .searchProduct {
    margin-left: 20px;
    flex: 1;
  }
  .input-container {
    width: auto;
  }
  .payBox {
    width: 90%;
    margin: auto;
  }
  .table {
    margin: 0px
  }
  .checkoutList {
    flex-direction: column;
  }
  .checkout {
    width: 100%;
  }
  .input-container-checkout {
    margin: auto;
    flex: 1;
    width: 90%;
  }
  .input-container-checkout #phone {
    width: 50px;
  }
}

